<%= form_for @product do |f| %>
<% if @product.errors.any? %>
<h3>These errors prohibited the form from being saved:</h3>
<ul>
	<% @product.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
	<% end %>

<% end %>
</ul>
<label for= "product_name"> Name : </label><br/>
<%= f.text_field :name, placeholder: "enter name" %> <br/>

<label for= "product_description"> Description : </label><br/>
<%= f.text_field :description %> <br/>

<label for= "product_quantity"> Quantity : </label><br/>
<%= f.number_field :quantity, min: 1 %> <br/>

<%= f.submit %>
<% end %>